<p class="title">{{{title}}}</p>

<div class="hover-action {{if showDeletePrompt "focus-action"}}">
  <button class="icon-button small {{if showDeletePrompt "hidden"}}" {{ action 'promptDelete' bubbles=false }}>
    <iron-icon icon="delete"></iron-icon>
  </button>

  <div class="confirm-action {{unless showDeletePrompt "hidden"}}">
    <paper-button {{ action 'cancelDelete' bubbles=false }}>Cancel</paper-button>
    <paper-button {{ action onDelete bubbles=false }}>Delete</paper-button>
  </div>
</div>
