{{!-- {{#if session.isAuthenticated}}
  <aside class="left-sidebar {{if hideSidePanel "hide"}}">
    {{note-list notes=sortedNotes defaultSelection='first' selection=activeNote onSelect='showNote' onDelete='deleteNote'}}
  </aside>

  <section class="note-content main-content {{if hideSidePanel "full-screen"}}">
    <header class="clearfix">
      <div class="left-actions">
        <button class="icon-button" {{action 'toggleSidePanelHidden'}}><iron-icon icon="view-list"></iron-icon></button>
        <paper-button class="icon-button" {{action 'signOut'}}>Sign Out</paper-button>
      </div>

      <div class="right-actions">
        <button class="icon-button" {{action 'createNote'}}><iron-icon icon="add"></iron-icon></button>
      </div>
    </header>

    <div class="inner-content">
      {{outlet}}
    </div>

  </section>
{{else}} --}}
<main class="app-container">  
  {{outlet}}
</main>
{{!-- {{/if}} --}}
