{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="signin-container">
  <div class="input-row">
    {{input type="email" name="email" value=userEmail placeholder="email"}}
  </div>

  <div class="input-row">
    {{input
      type="password"
      name="password"
      value=userPassword
      placeholder="password"
      enter=(perform signIn userEmail userPassword) }}
  </div>

  <paper-button class="submit" onclick={{perform signIn userEmail userPassword}}>
    {{#if signIn.isRunning}}
      Loading
    {{else}}
      Sign In
    {{/if}}
  </paper-button>
</div>
